<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Basketball Streams</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/index.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <div class="page-header-container">
        <h1><span>🏀</span> Basketball Streams</h1>
        <a href="{{ url_for('euro_leagues') }}" class="replays-link-button">
          EuroLeague/Other 🌍
        </a>
        <a href="{{ url_for('replays_index') }}" class="replays-link-button">
          Watch Game Replays 📼
        </a>
        <a href="{{ url_for('multi_view') }}" class="replays-link-button">
          Multiview (Beta) 🖥️
        </a>
      </div>
      {% if games %}
      <ul class="game-list">
        {% for game in games %}
        <li
          class="game-item {% if sb_data[game.teams][game_started_yet] %}live{% endif %}"
          data-teams="{{ game.teams }}"
          data-color-away="{{ game.away_color }}"
          data-color-home="{{ game.home_color }}"
        >
          <div class="game-content">
            <div class="game-header">
              <img
                src="https://cdn.nba.com/logos/nba/{{ game.away_logo }}/primary/L/logo.svg"
                alt="Away Logo"
                class="team-logo away-team-logo"
                loading="lazy"
              />
              <strong class="game-title-text">{{ game.title }}</strong>
              <img
                src="https://cdn.nba.com/logos/nba/{{ game.home_logo }}/primary/L/logo.svg"
                alt="Home Logo"
                class="team-logo home-team-logo"
                loading="lazy"
              />
            </div>
            <strong class="score-status-line">
              <span class="live-score-status">
                {% if sb_data[game.teams]["game_started_yet"] %}
                <span class="live-score-text">
                  {{ sb_data[game.teams]["away_score"] }} - {{
                  sb_data[game.teams]["home_score"] }}
                </span>
                <span class="game-details" data-status>
                  | {{ sb_data[game.teams]["quarter"] }}
                </span>
                {% else %}
                <span class="game-details" data-status>
                  | {{ game.game_start }}
                </span>
                {% endif %}
              </span>
            </strong>
            {% if sb_data[game.teams]["game_started_yet"] %}
            <div class="game-details">
              <span>{{ sb_data[game.teams]["best_stats_away"] }}</span>
              <hr />
              <span>{{ sb_data[game.teams]["best_stats_home"] }}</span>
            </div>
            {% endif %}
          </div>
          <a
            href="{{ url_for('stream_viewer', stream_id=game.id) }}"
            class="watch-link"
            target="_blank"
          >
            Watch Stream
          </a>
        </li>
        {% endfor %}
      </ul>
      {% else %}
      <p>
        No basketball streams were loaded. Check API access or the hardcoded
        index in `app.py`.
      </p>
      {% endif %}
    </div>

    <script>
      const EARLIEST_GAME_TS = '{{ earliest_timestamp | default(0) }}';
    </script>

    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
  </body>
</html>
