<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NBA Replays</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/index.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <div class="page-header-container">
        <h1>📼 NBA Full Game Replays</h1>

        <div
          style="display: flex; gap: 10px; align-items: center; flex-wrap: wrap"
        >
          <a href="{{ url_for('index') }}" class="replays-link-button">
            Live Streams 🏀
          </a>
          <button
            id="view-toggle-btn"
            class="replays-link-button"
            style="cursor: pointer"
          >
            ☰ List View
          </button>
        </div>
      </div>

      {% if grouped_replays %} {% for date_key in ordered_dates %}
      <h2 class="date-header">{{ date_key }}</h2>
      <ul class="game-list">
        {% for game in grouped_replays[date_key] %}
        <li
          class="game-item"
          data-teams="{{ game.teams }}"
          data-color-away="{{ game.away_color }}"
          data-color-home="{{ game.home_color }}"
        >
          <div class="game-content">
            <div class="game-header">
              <img
                src="https://cdn.nba.com/logos/nba/{{ game.away_logo }}/primary/L/logo.svg"
                alt="Away Logo"
                class="team-logo away-team-logo"
                loading="lazy"
              />
              <strong class="game-title-text">{{ game.title }}</strong>
              <img
                src="https://cdn.nba.com/logos/nba/{{ game.home_logo }}/primary/L/logo.svg"
                alt="Home Logo"
                class="team-logo home-team-logo"
                loading="lazy"
              />
            </div>

            <strong class="score-status-line">
              <span class="live-score-status">
                <span class="live-score-text">
                  FINAL: {{ game.away_score }} - {{ game.home_score }}
                </span>
              </span>
            </strong>

            <div class="game-details">
              {% if game.notes %}
              <span> | Notes: {{ game.notes }}</span>
              {% endif %}
            </div>
          </div>
          <div
            style="
              width: 100%;
              display: flex;
              justify-content: flex-end;
              padding-bottom: 3px;
              font-size: 0.75rem;
              color: #71717a;
              font-weight: 600;
            "
          >
            <span style="display: flex; align-items: center; gap: 3px">
              views: {{ game.views if game.views else 0}}
            </span>
          </div>
          <a
            href="{{ url_for('replay_stream_viewer', stream_id=game.id) }}"
            class="watch-link"
            target="_blank"
          >
            Watch Replay
          </a>
        </li>
        {% endfor %}
      </ul>
      {% endfor %} {% else %}
      <p>No game replays found in the database yet.</p>
      {% endif %}
    </div>

    <script>
      const EARLIEST_GAME_TS = 0;
    </script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
  </body>
</html>
